html,
body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex; 
	-ms-flex-align: center; 
	align-items: center; 
	padding-top: 40px; 
	padding-bottom: 40px;
}

a{
	color: #a3a1a1;
}

a:hover{
	color: #333030;
}


.form-signin {
	width: 100%; 
	max-width: 330px; 
	padding: 15px; 
	margin: auto;
}

.form-signin .checkbox { 
	font-weight: 400;
} 

.form-signin .form-control { 
	position: relative; 
	box-sizing: border-box; 
	height: auto; 
	padding: 10px; 
	font-size: 16px; 
}

.form-signin .form-control:focus { 
	z-index: 2;
} 

.form-signin input[id="uid"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 0; 
} 

.form-signin input[id="pwd"] { 
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-primary{
	background-color: #7C7877;
	border-color: #7C7877;
}

.btn-primary:active,
.btn-primary:hover{
	background-color: #333030;
	border-color: #333030;
}

.btn-primary:focus{
	box-shadow: 0 0 0 0.2rem rgba(171,208,206,0.9);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
 	background-color: #a3a1a1;
    border-color: #ABD0CE;
  }
 
 .btn-primary:not(:disabled):not(.disabled).active:focus,
 .btn-primary:not(:disabled):not(.disabled):active:focus,
 .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(171,208,206,0.9);
}

.form-control:focus{
	border-color: #9DC3C1;
	box-shadow: 0 0 0 0.2rem rgb(171,208,206,0.6);
}

.page-link{
	color: #6E7783;
	border: 1px solid #D8E6E7;
}

.page-item.active .page-link{
	background-color: #b4d6c9;
	border-color: #c6e5d9;
}

.page-link:hover{
	color: #333030;
	background-color: #dcf3f1;
	
}

.page-link:focus{
	box-shadow: 0 0 0 0.2rem rgba(171,208,206,0.7);
}
